---
import MainLayout from '../layouts/MainLayout.astro'
import PostHogLayout from '../layouts/PostHogLayout.astro';

import SearchForm from '../components/SearchForm.astro'

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content'; 

import ArticleCard from '../components/ArticleCard.astro';
import { HOMEPAGE_ARTICLE_LIMIT } from '../constants';



const allBlogArticles : CollectionEntry<'blog'>[] = (await getCollection('blog'))
.sort((a:CollectionEntry<'blog'>,b: CollectionEntry<'blog'>)=>
b.data.pubDate.valueOf() - a.data.pubDate.valueOf() 
)




---
<PostHogLayout>
<MainLayout>


      <!-- Top Grid -->
      <div class="grid grid-cols-1  lg:grid-cols-2 bg-[url(/images/bgCandidate5.webp)] bg-cover bg-left
 min-h-[35rem]" >
        <div class="px-8 md:px-16 pt-20 text-white bg-gray-500 bg-opacity-25 backdrop-blur-sm md:backdrop-blur-sm ">
          <h1 class="text-2xl font-bold  mb-8 leading-tight xl:text-4xl">
            Δημιουργώντας χώρους διαβίωσης με φυτά εσωτερικού χώρου
          </h1>
          <h2 class="text-1xl mt-1 mb-8 leading-tight xl:text-2xl" >
            Ανακαλύψτε τον ζωντανό κόσμο των φυτών εσωτερικού χώρου. Φέρτε τη φύση στο εσωτερικό και μεταμορφώστε το χώρο σας με πλούσια βλάστηση.
          </h2>

          <SearchForm />
        </div>
      
      </div>

      <!-- Main Grid -->
      <h2 class="container max-w-screen-xl mx-auto mt-10 px-8 font-semibold xl:text-2xl">Πιο πρόσφατα άρθρα</h2>
      <div class="container mx-auto max-w-screen-xl  px-8 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
       
        {allBlogArticles.slice(0,HOMEPAGE_ARTICLE_LIMIT).map(article=>(
          <ArticleCard article={article}/>
        ))}
      </div>
    </div>
    <div class="container max-w-screen-xl mx-auto mt-10 px-8"><a href="/articles" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-emerald-500 hover:text-white">Όλα τα Άρθρα..</a></div>
  </MainLayout>
</PostHogLayout>
    <script>
      import {gsap} from "gsap";

      
    </script>