---
const { tags } = Astro.props

interface Props {
    tags:string[]
}
---

<div class="flex flex-wrap gap-1">
    {tags.map((tag:string, index:number)=>(
       <span
     class="px-2 py-1 bg-gray-100 text-black rounded-lg text-xs hover:bg-opacity-20 border-2" 
     ><a href={"/articles/tag/" + tag}>{tag}</a></span>
    ))}
   </div>